<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- import bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</head>

<body>
    <%- include('templates/header.ejs'); %>

        <br>
        <div class="container">
            Hello <%= x %>!
                <div class="row">

                    <div class="col-md container">
                        <div class="row">
                            <img src="1.png" alt="">
                        </div>
                    </div>

                    <div class="col-md container">
                        <div class="row">
                            <img src="2.png" alt="">
                        </div>
                    </div>

                    <div class="col-md container">
                        <div class="row">
                            <img src="3.png" alt="">
                        </div>
                    </div>
                </div>
      
        <ul>
            <% todos.forEach(function(todoItem){ %>
                <li>
                    <ul>
                        <li>
                            <%= todoItem.name %>
                        </li>
                        <li>
                            <%= todoItem.done %>
                        </li>
                        <li>
                            <form action="/flipTodoItem" method="post">
                                <input type="hidden" value="<%= todoItem.name  %>" name="x">
                                <input type="submit" value="Flip">
                            </form>
                        </li>
                        <li>
                            <form action="deleteToDoItem" method="POST">
                                <input type="hidden" value="<%= todoItem.name  %>" name="x">
                                <input type="submit" value="Delete">
                            </form>
                        </li>
                    </ul>
                </li>
        </ul>
        <% }); %>
            <form action="/addNewToDoItem" method="POST">
                <label for="x"> Add new item</label>
                <input type="text" value="item name goes here" id="x" name="theLabelOfThenNewItem" placeholder="item name">
                <input type="submit" value="Add">
            </form>

            <button onclick="window.location.href='/logout'">Log out</button>
        </div>
            <%- include('templates/footer.ejs'); %>
</body>
</html>