<li> <%= user.username %> ( <%= user.type %> ) <a class="btn btn-success" href="/toAdmin/<%= user.username %>/<%= user.type %>">Promote to Admin</a> 
                                               <a class="btn btn-danger"  href="/toUser/<%= user.username %>/<%= user.type %>">Demote to User</a> </li>